.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1{
  text-align: center;
}


.seat-box{
  width: 100%;
  height: 60%;
  text-align: center;
}

.user-box{
  width: 100%;
  height: 30%;
  text-align: center;
  
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  height: 10rem;
  width: 40rem;
  background-color: white;
  padding: 20px;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: slideDown 0.5s ease forwards; 
}

#submit{
  width: 8rem;
  height: 2.5em;
  background-color: #242324;
  border-color: #242324;
  cursor: pointer;
}



.popup p {
  margin-bottom: 20px;
  font-size: 1.6rem;
  color: black;
}

.popup button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
  width: 5rem;
}

#data-reset{
  width: 8rem;
  height: 2.5em;
  background-color: #4e0303;
  border-color: #242323;
  cursor: pointer;
}


@keyframes slideDown {
  0% {
      transform: translateY(-100%);  /* Start above the screen */
      opacity: 0;
  }
  100% {
      transform: translateY(0);  /* End at the center */
      opacity: 1;
  }
}




.loading-page {
    position: absolute;
    top: 0;
    left: 0;
    /* background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
     */

     background-image: radial-gradient(circle, #351048, #310e42, #2d0b3d, #2a0937, #260732, #280834, #290935, #2b0a37, #320e41, #39134b, #401755, #471c60);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: #191654;
    z-index: 12;
  }

  .svg-obj{
    
    display: flex; 
   justify-content: center;
   align-items: center;
    position: relative;
  }
  
  #svg {
    height: 360px;
    width: 360px;
    stroke: #CBB26A;
    fill-opacity: 0;
    stroke-width: 3px;
    stroke-dasharray: 4500;
    animation: draw 8s ease;
    z-index: 12;
  }
  
  @keyframes draw {
    0% {
      stroke-dashoffset: 4500;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  .name-container {
    height: 300px;
    overflow: hidden;
  }
  
  .logo-name {
    color: #CBB26A;
    font-size: 32px;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-bottom: 2rem;
    font-weight: bolder;
  }

  .logo-name-1 {
    color: #CBB26A;
    font-size: 32px;
    letter-spacing: 12px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-weight: bolder;
  }



   



